<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>

    <target xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" name="console"
            layout="${longdate} [${threadID}] ${uppercase:${level}} ${logger} - ${message} ${exception:format=tostring}">
      <highlight-row foregroundColor="Green" condition="starts-with('${message}','***')"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>